# Laravel
src/citizen-complaint-portal/vendor
src/citizen-complaint-portal/node_modules
# Environment files
src/citizen-complaint-portal/.env
src/citizen-complaint-portal/storage
src/citizen-complaint-portal/public/storage